<template>
    <div>
        <li class="list-group-item active" aria-current="true">
            Chat Room
            <span class="badge bg-primary float-end">{{ totalUser }} users </span>
            <button class="btn-sm" @click="deleteSession()">Clear</button>
        </li>
        <ul class="list-group" v-chat-scroll>
            <message v-for="(value,index) in chat.messages" :key="value.index" :user="chat.user[index]"
                     :time="chat.time[index]">{{ value }}
            </message>
        </ul>
        <small v-if="typing">Typing..</small>
        <input type="text" class="form-control" placeholder="Type your message here" @keyup.enter="send"
               v-model="message">

    </div>
</template>

<script>
import message from "./message";

export default {
    name: "chat",
    components: {message},
    data: function () {
        return {
            message: '',
            chat: {
                user: [],
                messages: [],
                time: []
            },
            typing: false,
            totalUser: 0
        }
    },
    mounted() {
        this.getOldMessages();
        // listener
        Echo.private(`chat`)
            .listen('ChatEvent', (e) => {
                this.chat.messages.push(e.message);
                this.chat.user.push(e.user);
                this.chat.time.push(this.getTime());
                axios.post('/saveToSession',{
                    chat:this.chat
                }).catch(error => {
                    console.log(error);
                });
            }).listenForWhisper('typing', (e) => {
            this.typing = !!e.message;
        });
        Echo.join(`chat`)
            .here((users) => {
                this.totalUser = users.length
            })
            .joining((user) => {
                console.log(user);
                this.$toaster.success(user.name+" has been joined")
                this.totalUser++;
            })
            .leaving((user) => {
                console.log(user);
                this.$toaster.warning(user.name+" leaved")
                this.totalUser--;
            })
            .error((error) => {
                console.error(error);
            });
    },
    watch: {
        // watching message to check the changes
        message: function () {
            Echo.private(`chat`)
                .whisper('typing', {
                    message: this.message
                });
        }
    },
    methods: {
        getOldMessages: function () {
            axios.get('/oldmessages')
                .then((response) => {
                    if(response.data != ''){
                        this.chat = response.data;
                    }
                }).catch(error => {
                console.log(error);
            });
        },
        send: function () {
            this.chat.user.push('You');
            this.chat.messages.push(this.message);
            this.chat.time.push(this.getTime());
            if (0 != this.message.length) {
                axios.post('send', {
                    message: this.message,
                    chat: this.chat
                }).then((response) => {
                    this.message = '';
                }).catch(error => {
                    console.log(error);
                });

            }
        },
        getTime: function () {
            let time = new Date();
            return time.getHours() + ':' + time.getMinutes();
        },
        deleteSession: function (){
            axios.get('/delete').then((response) => {
                this.chat.user = [];
                this.chat.messages = [];
                this.chat.time = [];
                this.$toaster.success("History successfully deleted")
            }).catch(error=>{
                console.log(error);
            });
        }
    }
}
</script>

<style scoped>
.list-group {
    overflow-y: scroll;
    min-height: 200px;
    max-height: 200px;
}
</style>
