<template>
    <div :class="className">
        <img src="http://via.placeholder.com/30x30" v-if="user !== 'You'" class="rounded-circle m-2" :alt="user" :title="user"/>
        <slot></slot>
        <sub class="text-info">{{time}}</sub>
    </div>
</template>

<script>
export default {
    name: "message",
    props:['user','time'],
    computed:{
        className:function () {
            if('You' !== this.user){
                return 'text-start';
            }
            return 'text-end';
        }
    }
}
</script>

<style scoped>

</style>
