<template>
    <div>
        <li class="list-group-item" :class="className">
            <slot></slot>
            <sub>{{time}}</sub>
        </li>
        <small class="badge float-end" :class="badgeColor">{{ user }}</small>
    </div>

</template>

<script>
export default {
    name: "Message.vue",
    props:['color','user','time'],
    computed:{
        className:function () {
            if('You' !== this.user){
                return 'text-start list-group-item-'+this.color;
            }
            return 'text-end list-group-item-'+this.color;
        },
        badgeColor:function () {
            return 'bg-'+this.color;
        }
    },
    mounted() {
        console.log('Message component mounted.')
    }
}
</script>

<style scoped>

</style>
